<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqx.xsblog.mapper.BlogChannelMapper">

  <resultMap id="BaseResultMap" type="com.xqx.xsblog.entity.BlogChannel">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="site_id" jdbcType="VARCHAR" property="siteId" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="is_base_channel" jdbcType="BIT" property="isBaseChannel" />
    <result column="can_comment" jdbcType="BIT" property="canComment" />
    <result column="is_no_name" jdbcType="BIT" property="isNoName" />
    <result column="is_can_aduit" jdbcType="BIT" property="isCanAduit" />
    <result column="seo_title" jdbcType="VARCHAR" property="seoTitle" />
    <result column="seo_keywords" jdbcType="VARCHAR" property="seoKeywords" />
    <result column="seo_description" jdbcType="VARCHAR" property="seoDescription" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="level" jdbcType="BIGINT" property="level" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, name, site_id, href, logo, is_base_channel, can_comment, is_no_name, is_can_aduit,
    seo_title, seo_keywords, seo_description, parent_id, parent_ids, level, sort, create_date, 
    create_by, update_date, update_by, remarks, del_flag
  </sql>

  <select id="selectByExample" parameterType="com.xqx.xsblog.entity.example.BlogChannelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <delete id="deleteByExample" parameterType="com.xqx.xsblog.entity.example.BlogChannelExample">
    delete from blog_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <select id="countByExample" parameterType="com.xqx.xsblog.entity.example.BlogChannelExample" resultType="java.lang.Long">
    select count(*) from blog_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update blog_channel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.siteId != null">
        site_id = #{record.siteId,jdbcType=VARCHAR},
      </if>
      <if test="record.href != null">
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.isBaseChannel != null">
        is_base_channel = #{record.isBaseChannel,jdbcType=BIT},
      </if>
      <if test="record.canComment != null">
        can_comment = #{record.canComment,jdbcType=BIT},
      </if>
      <if test="record.isNoName != null">
        is_no_name = #{record.isNoName,jdbcType=BIT},
      </if>
      <if test="record.isCanAduit != null">
        is_can_aduit = #{record.isCanAduit,jdbcType=BIT},
      </if>
      <if test="record.seoTitle != null">
        seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.seoKeywords != null">
        seo_keywords = #{record.seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.seoDescription != null">
        seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentIds != null">
        parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=BIGINT},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update blog_channel
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      site_id = #{record.siteId,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      is_base_channel = #{record.isBaseChannel,jdbcType=BIT},
      can_comment = #{record.canComment,jdbcType=BIT},
      is_no_name = #{record.isNoName,jdbcType=BIT},
      is_can_aduit = #{record.isCanAduit,jdbcType=BIT},
      seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      seo_keywords = #{record.seoKeywords,jdbcType=VARCHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=BIGINT},
      sort = #{record.sort,jdbcType=SMALLINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

</mapper>