<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqx.comadmin.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.xqx.comadmin.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="level" jdbcType="BIGINT" property="level" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="bg_color" jdbcType="VARCHAR" property="bgColor" />
    <result column="is_show" jdbcType="TINYINT" property="isShow" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, parent_id, level, parent_ids, sort, href, target, icon, bg_color, is_show, 
    permission, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.xqx.comadmin.entity.example.MenuExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xqx.comadmin.entity.example.MenuExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.xqx.comadmin.entity.example.MenuExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sys_menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=BIGINT},
      </if>
      <if test="record.parentIds != null">
        parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.href != null">
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null">
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.bgColor != null">
        bg_color = #{record.bgColor,jdbcType=VARCHAR},
      </if>
      <if test="record.isShow != null">
        is_show = #{record.isShow,jdbcType=TINYINT},
      </if>
      <if test="record.permission != null">
        permission = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update sys_menu
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=BIGINT},
      parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=SMALLINT},
      href = #{record.href,jdbcType=VARCHAR},
      target = #{record.target,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      bg_color = #{record.bgColor,jdbcType=VARCHAR},
      is_show = #{record.isShow,jdbcType=TINYINT},
      permission = #{record.permission,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <resultMap id="showMenuMap" type="com.xqx.comadmin.entity.vo.ShowMenuVo">
    <result property="id"       column="id" />
    <result property="pid"      column="pid"/>
    <result property="title"    column="title"/>
    <result property="icon"     column="icon"/>
    <result property="href"     column="href"/>
    <collection property="children" select="selectShowMenuByUser"  column="{parentId = id,userId = myuserId}">
    </collection>
  </resultMap>


  <select id="selectShowMenuByUser" resultMap="showMenuMap" parameterType="java.util.Map">
    SELECT
    distinct m.id as "id",
    m.parent_id as "pid",
    m.name as "title",
    m.icon as "icon",
    m.href as "href",
    m.sort,
    #{userId}  as "myuserId"
    FROM
    (select * from sys_menu where del_flag = FALSE ) m
    LEFT JOIN sys_role_menu srm on srm.menu_id = m.id
    LEFT JOIN sys_role r on r.id = srm.role_id
    LEFT JOIN sys_user_role sur on sur.role_id = r.id
    LEFT JOIN sys_user u on u.id = sur.user_id
    WHERE
    u.id = #{userId}
    <choose>
      <when test="parentId != null and parentId !='' ">
        and m.parent_id = #{parentId}
      </when>
      <otherwise>
        and m.parent_id is NULL
      </otherwise>
    </choose>
    and m.is_show = true
    order by m.sort desc
  </select>
</mapper>